.container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  
}

.title {
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    color: #fff;
    padding: 5px;
    border: 1px solid white;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 535px;
}

.list {
    display: flex;
    flex-direction: column;
    
}

.list li {
    list-style-type: none;
    color: #fff;
}

.name {
    color: #fff;
    text-align: center;
}

.card {
    margin-left: 70px;
    border: 5px solid #121826;
    outline: 10px solid #ffffff;
    margin-top: 30px;
}

.btnContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-left: -8px;
}

.thumbnail:hover {
  box-shadow: 0 0 5px #41ACF1,
                0 0 2px #41ACF1,
                0 0 3px #41ACF1,
                0 0 5px #41ACF1;
    background-color: #41ACF1;
}

.btnContainer button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
}

@media screen and (max-width: 775px) {
    .btnContainer button{
        width: 80px;
        height: 30px;
        font-size: 15px;
        margin: 2px;
    }
    .btnContainer {
        margin-left: -380px;
        margin-top: 15px;
    }
    .title {
        margin-left: 130px;
        font-size: 30px;
        margin-top: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 368px;
        height: 530px;
        margin-left: 0; 
    }
    .thumbnail {
        width: 358px;
        height: 358px;
    }

}

.btnContainer button:hover {
    width: 105px;
    font-size: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnContainer button:active {
    background-color: aqua;
    height: 28px;
    font-size: 15px;
    width: 90px;
}
/* 
.btnContainer button:hov */