.title {
    color: #fff;
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.container p {
    color: #fff;
}

.container a {
    text-decoration: none;
    color: #fff;
}

.deployimg {
    margin-top: -50px;
    margin-left: 150px;
}

.ghimg {
    margin-top: -55px;
    margin-left: 400px;
}

.gh {
    margin-right: -10px;
}

.deploy {
    margin-left: -15px;
}

.deploy:hover {
    background: #E8316E;
    border: 2px solid white;
    color: #FCE565;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px #E8316E,
                0 0 2px #E8316E,
                0 0 3px #E8316E,
                0 0 5px #E8316E;
}

@media screen and (max-width: 775px) {
    .title {
        border: 2px solid white;
        padding: 2px;
        border-radius: 5px;
        font-size: 40px;
        margin-left: -380px;
        margin-top: -20px;
    }
    .thumbnail{
        display: none;
    }
    .container p {
        margin-left: -380px;
        font-size: 10px;
        margin-top: 115px;
    }
    /* <Link className={styles.deploy} href={project.repositorio}><h1>Deploy</h1></Link>
            <Imagem className={styles.deployimg} src={deployimg} width='40' height='40' alt='deploy image'/>
            <Link className={styles.gh} href={project.deploy}><h1>Repositorio {project.name}</h1></Link>
            <Imagem className={styles.ghimg} src={ghimg} width='40' height='40' alt='gh image'/>
         </div> */
        .deploy {
            padding: 2px;
            margin-left: -630px;
            font-size: 10px;
            margin-top: -120px;
            border: 5px solid #41ACF1;
            border-radius: 5px;
        }
        .deployimg {
            margin-left: -630px;
            margin-top: -5px;
            width: 40px;
            height: 40px;
        }
        .gh {
            padding: 2px;
            margin-left: -250px;
            font-size: 10px;
            margin-top: -92px;
            border: 5px solid #41ACF1;
            border-radius: 5px;
        }
        .ghimg {
            margin-left: -250px;
            margin-top: -6px;
            width: 40px;
            height: 40px;
        }
}

.gh:hover {
     background: #41ACF1;
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px #41ACF1,
                0 0 2px #41ACF1,
                0 0 3px #41ACF1,
                0 0 5px #41ACF1;
}