.container {
    animation: nav 1.5s;
    display: flex;
    /* margin-left: 50px; */
    justify-content: center;
    font-size: large;
    padding: 17px;
    height: 60px;
    background-color: #101519;
    height: 15vh;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 9px 5px -4px rgba(0,0,0,0.57);
}

@keyframes nav {
    from {
        transform: translateY(-100px);
}
}
.title {
    display: flex;
    list-style: none;
}

.title h3 {
    margin-right: 1.3em;
}

@media (max-width: 775px) {
    .container {
        font-size: 2.25rem;
        box-shadow: none;
    }
    .container a {
        font-size: 25px;
    }

    .network a {
        gap: 5rem;
        font-size: 1.5rem;
        margin-left: -26.5rem;
    }

    .network {
        margin-top: 1.5rem;
        gap: 5rem;
    }

    .title {
        margin-left: 20rem;
        font-size: 1.5rem;
        margin-top: -5vh;
    }
}

.title a {
    color: #fff;
    text-decoration: none;
    padding: 5x;
    transition: .4s;
    border-bottom: 2px solid transparent;
    margin: 10px;
}

.title a:hover {
    transition: .10s;
    border-bottom: 2px solid white;
}

.network {
    display: flex;
    list-style: none;
    margin-left: 20vw;
}

.network h3 {
    margin-right: 1.3em;
}

.network a {
    color: #fff;
    text-decoration: none;
    padding: 5x;
    transition: .4s;
    border-bottom: 2px solid transparent;
}

.network a:hover {
    border-color: #fff;
}

.network a:active {
   font-size: 18px;
}

.name {
    font-family:'Areplos Book', Pro Bold;
    color: #fff;
    font-size: 17px;
    margin-top: -18px;
    margin-left: 100px;
    width: fit-content;
}

/* .profession {
    color: #fff;
    font-family: monospace;
} */