.photo {
    animation: photo 2s;
    border-radius: 100px;
    border: 5px solid #121826;
    outline: 5px solid #65C7B6;
    margin-left: 365px;
    margin-top: 120px;
    
}
@media (max-width: 775px) {
    .photo {
        width: 20rem;
        height: 20rem;
        margin-top: 3rem;
        margin-left: 1.8rem;
        border-radius: 100%;
    }
    .hello {
        margin-left: -34rem;
        font-size: 1rem;
        margin-top: 10rem;
    }
    .name {
        background-color: #fff;
        color: #000;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    .title {
        margin-left: -28rem;
        font-size: 1rem;
        margin-top: -1.1rem;
    }
    .container h4 {
        margin-left: -36.5rem;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        padding: 1rem;
        width: fit-content;
    }
   
    .cv h3{        
        margin-top: -7.5rem;
        margin-left: 4.3rem;
        font-size: 2rem;
    }
    .email {
        font-size: 1rem;
        margin-left: -16.2rem;
    }
}

.hello {
    animation: text 2s ease-in-out forwards;
    color: #65C7B6;
}

.title {
    animation: text 2s ease-in-out forwards;
    color: #fff;
}

.name {
    animation: text 2s ease-in-out forwards;
    font-family:'Areplos Book', Pro Bold;
   /*  background-color: #65C7B6; */
    padding: 2px;
 /*    border-radius: 10px;
    color: #121826; */
}

.container {
    animation: text 2.3s ease-in-out forwards;
    margin-left: 620px;
    margin-top: -150px;
}


.professional {
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.paragraph {
    color: #fff;
    margin-left: 400px;
    margin-top: 100px;
    display: none;
}

.cv  {
    animation: professional 2.5s ease-in-out forwards;
    text-decoration: none;
    list-style: none;
    margin-top: -10rem;
}

.cv h3  {
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    color: #fff;
    padding: 4px;
    width: fit-content;
    border-radius: 5px;
}

.cv h3:hover  {
    background-color: #fff;
    color: #000;
}

.cv h3:active  {
    box-shadow: 0 0 1px #41ACF1,
                0 0 2px #41ACF1,
                0 0 3px #41ACF1,
                0 0 5px #41ACF1;
    background-color: #fff;
    color: #000;
}

.email {
    animation: professional 2.5s ease-in-out forwards;
    color: #fff;
    margin-top: -10rem;
}

.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 220px;
    margin-left: -15px;
}


@keyframes text {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes professional {
    from {
        opacity: 0%;
    }
}

@keyframes photo {
    0% {
        transform: scale(95%);
    }
    80% {
        transform: scale(98%);
    }
    100% {
        transform: scale(100%);
    }
}