.photo {
    border-radius: 100px;
    border: 5px solid #121826;
    outline: 5px solid #65C7B6;
    margin-left: 365px;
    margin-top: 120px;
}
@media screen and (max-width: 775px) {
    .photo {
        margin-left: 10px;
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-left: 10px;
    }
        .hello {
            margin-left: -492px;
            font-size: 15px;
            margin-top: 60px;
        }
        .title {
            margin-left: -490px;
            font-size: 10px;
            margin-top: 5px;
        }

        .container h4 {
            margin-left: -595px;
            margin-top: 65px;
            font-size: 12px;
            width: fit-content;
        }

      .cv {
        margin-top: -390px;
        margin-left: -480px;
      }
      .email {
        margin-top: -330px;
        margin-left: -200px;
        font-size: 12px;
      }
        
    
}

.hello {
    color: #65C7B6;
}

.title {
    color: #fff;
}

.name {
    font-family:'Areplos Book', Pro Bold;
   /*  background-color: #65C7B6; */
    padding: 2px;
 /*    border-radius: 10px;
    color: #121826; */
}

.container {
    margin-left: 620px;
    margin-top: -150px;
}


.professional {
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.paragraph {
    color: #fff;
    margin-left: 400px;
    margin-top: 100px;
    display: none;
}

.cv  {
    text-decoration: none;
    list-style: none;
}

.cv h3  {
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    color: #fff;
    padding: 4px;
    width: fit-content;
    border-radius: 5px;
}

.cv h3:hover  {
    background-color: #fff;
    color: #000;
}

.cv h3:active  {
    box-shadow: 0 0 1px #41ACF1,
                0 0 2px #41ACF1,
                0 0 3px #41ACF1,
                0 0 5px #41ACF1;
    background-color: #fff;
    color: #000;
}

.email {
    color: #fff;
}

.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 220px;
    margin-left: -15px;
}
