.footer {
        position: fixed;
        animation: footer 1s ease-in-out;
        border-top: 0.2px solid rgba(0, 0, 0, 0.845);
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 40px;
        background-color: #101519;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: smaller;
}

@keyframes footer {
    from {
       transform: translateY(100px);
    }
}