.footer {
        position: fixed;
        animation: footer 1s ease-in-out;
        border-top: 0.2px solid rgba(0, 0, 0, 0.845);
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 40px;
        background-color: #101519;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: smaller;
        flex-direction: column;
}

.footer p {
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.footer h4, .footer p {
    color: rgba(255, 255, 255, 0.500);
}

@keyframes footer {
    from {
       transform: translateY(100px);
    }
}