.name {
    color: #ffffff;
    font-size: small;
}

.title {
    color: #ffffff;
    /* line-height: -5px; */
    margin-top: 535px;
    font-size: small;
    padding: 5px;
}

.container {
    text-align: center;
    background-color: #343434;
    height: 27px;
}