.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #101519;
    color: #fff;
    margin-bottom: 0px;
    font-size: large;
    margin-top: 4.2rem;
}
@media (max-width: 775px) {
            .footer {
                display: none;
            }
}